Django==1.6.1
South==0.8.4
autopep8==0.9.7
backports.ssl-match-hostname==3.4.0.2
dj-database-url==0.2.2
django-admin-bootstrapped==1.6.4
django-annoying==0.7.9
django-object-tools==0.0.7
django-south-admin==0.0.3
docutils==0.11
gunicorn==18.0
pep8==1.4.6
psycopg2==2.5.2
tornado==3.2
usethis-django-bootstrap==3.0.3
wsgiref==0.1.2
